body {
    background-color: rgb(4, 4, 4);
    color: aliceblue;
}

h2 {
    color: aliceblue;
}

h3 {
    color: blue;
}

label {
    color: aliceblue;
    
}

input {
    background-color: rgb(0, 0, 0);
    border: 1px dashed blue;
    width: 500px;
    color: aliceblue;
}

textarea {
    background-color: rgb(0, 0, 0);
    border: 1px dashed blue;
    color: aliceblue;
}

.container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10px;
}

.container__comments {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    gap: 10px;
}

#comment {
    height: 200px;
}

.button {
    margin-top: 20px;
    background-color: blue;
    color: antiquewhite;
}

.finalMassage {
    color: rgb(49, 121, 183);
    font-weight: bold;
    align-self: flex-start;
}

.finalComment {
    color: aliceblue;
    border-bottom: 1px dashed blue;
}

.image {
    width: 150px;
    height: 200px;
    border: 1px solid black;
}

.date {
    color: aliceblue;
}

#checkbox {
    color: aliceblue;
    width: 13px;
}

#checkboxNo {
    color: aliceblue;
    width: 13px;
}